C 0 0 "GND_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VBUS_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VBUS_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CC1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CC1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "DP1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "DP1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "DN1" 0 -400 0 0 60 0 L
X "PIN_TEXT" "DN1" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SBU1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SBU1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "GND_2" 0 -600 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VBUS_2" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VBUS_2" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 1300 0 "CC2" 1300 0 0 0 60 0 R
X "PIN_TEXT" "CC2" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "DP2" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "DP2" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "DN2" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "DN2" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "SBU2" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "SBU2" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "GND_3" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "GND_3" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "GND_4" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "GND_4" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -500 1300 -500 -1 0
C 1300 -600 "GND_5" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "GND_5" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -600 1300 -600 -1 0
C 1300 -700 "GND_6" 1300 -700 0 0 60 0 R
X "PIN_TEXT" "GND_6" 1070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -700 1300 -700 -1 0
L 200 100 1100 100 -1 0
L 1100 -800 1100 100 -1 0
L 1100 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

